.barra {
    background-color: blanchedalmond;
}
.barra a{
    padding: 15px;
    text-align: center;
    color: blueviolet;
    display: block;
    float: left;

}
.barra a:hover {
    background-color:wheat;
    color: black;
}
.columna{
    float: left;
    padding: 25px;
    width: 25%;

}
@media screen and (max-width: 900px){
    .columna{
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .columna{
        width: 100%;
    }
    .barra a{
        float: none;
        width: 100%;
    }
}